.mtr-investor{

    &__container{
        display: flex;
        flex-wrap: wrap;   
    }

    .mtr-investor-tile{
        padding: 12px 16px 0; 
        width: calc(50% - 0px);
        height: auto;
    }
    
}
@include mobile{
    .mtr-investor{
        .mtr-investor-tile{
            width: calc(100% - 0px);
            padding: 0;
        }
    }  
}