.mtr-appch {
   padding: 16px 0px;
   margin-top: 50px;
   background-color: #f7fcfe;

   .mtr-title {
      margin-bottom: 32px;
   }

   &__nav {
      justify-content: space-between !important;
      border-bottom: 1px solid #000000 !important;
      padding-top: 16px;
   }

   &__copy {
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 8px;
      color: #4B4947;
      text-align: center;
   }

   &__item {
      width: 30% !important;
      button {
         box-shadow: none;
         &:hover {
            box-shadow: none;
         }
         &::after {
            background-color: transparent;
         }
      }
   }

   .nav-item {
      width: 30%;

      &::after {
         display: none;
      }

   }

   .nav {
      border-top: 0 !important;
   }

   .nav-link {
      font-size: 20px;

      &:hover {
         color: #4B4947 !important;
      }
   }

   &__link {
      font-size: 25px;
      font-weight: 500;
      color: #6c6d6e !important;
      border: 0 !important;

      &:hover {
         color: #0098DF !important;
      }

      &.active {
         color: #0098DF !important;
         background-color: #f7fcfe !important;
         border-bottom: 5px solid #0098DF !important;
      }
   }

   &__cnt {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
   }

   &__btmcnt {
      padding-left: 24px;
   }

   &__left {
      width: 43%;
      height: auto;

      img {
         width: 100%;
      }
   }

   &__right {
      width: calc(57% - 24px);
      padding-left: 24px;
   }

   &__list {
      li {
         font-size: 16px;
         font-weight: 500;
         padding: 8px 0px;
         list-style-type: disc;
         color: #4B4947;

         &::marker {
            font-size: 10px;
         }
      }
   }
}

@include tablet-pro {
   .mtr-appch {
      &__link {
         font-size: 22px;
      }

      &__list {
         li {
            font-size: 16px;
         }
      }

   }
}

@include mobile-tablet {
   .mtr-appch {
      &__copy {
         p {
            font-size: 16px;
         }
      }
   }
}

@include tablet {
   .mtr-appch {
      &__nav {
         justify-content: center;
      }

      &__left {
         width: 39%;
      }

      &__right {
         width: 60%;
      }

      &__link {
         font-size: 16px;
      }

      &__list {
         li {
            font-size: 14px;
         }
      }
   }
}

@include mobile {
   .mtr-appch {
      &__nav {
         justify-content: space-around;
         flex-direction: column;
         border-bottom: none;
      }

      &__item {
         width: 100% !important;
      }

      &__head {
         left: 36%;
      }

      &__cnt {
         flex-direction: column;
         padding-top: 16px;
      }

      &__left {
         display: flex;
         justify-content: center;
         width: 100%;

         img {
            width: 35%;
         }
      }

      &__right {
         width: 100%;
      }

      &__link {
         font-size: 18px;
      }

      &__list {
         li {
            font-size: 16px;
         }
      }
   }
}