
.mtr-l5-Year {
    &--crd-rtng {
        &__slno {
            
        }
    }
    margin: 16px 24px 24px;
    &__header {
        background-color: #014565;
        border: 1px solid #C7C7C7;
        display: flex;
        position: sticky;
        height: 50px;
        &-long {
            width: 30%;
            border-right: 1px solid #C7C7C7;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 16px;
                color: var(--clr-white);
                text-align: center;
                font-weight: 600;
            }
        }
        &-short {
            width: 11.6%;
            font-size: 16px;
            color: var(--clr-white);
            text-align: center;
            font-weight: 600;
            border-right: 1px solid #C7C7C7;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                border-right: 0;
            }
            p {
                font-size: 16px;
                color: var(--clr-white);
                text-align: center;
                font-weight: 600;
            }
        }
    }

    &__title {
        padding: 24px 0;
        background-color: transparent;
        color: var(--clr-blue2);
        font-size: 16px;
        font-weight: 600;
        padding-left: 24px;
    }

    &__table {

        display: flex;
        border: 1px solid #C7C7C7;
        border-bottom: 0;
        height: 40px;
        background-color: var(--clr-white);

        &--line-b {
            border-bottom: 1px solid #C7C7c7;
        }
        
        &-long {
            width: 30%;
            border-right: 1px solid #C7C7C7;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 16px;
                color: #4B4947;
                text-align: center;
                &.txt-blue {
                    color: #0098DF;
                    ;
                }
            }
        }

        &-short {
            width: 11.6%;
            font-size: 16px;
            color: #4B4947;
            text-align: center;
            border-right: 1px solid #C7C7C7;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                border-right: 0;
            }
            p {
                font-size: 16px;
                color: #4B4947;
                text-align: center;
            }
        }
    }

    &__table-set {
        max-height: 350px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 3px;
        }
    
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(216, 214, 214, 0.3);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        } 
    }
}

