.mt-ceo_p {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
    &__para {
        width: 100%;
        border: 1px solid white;
        padding: 30px 40px 30px 20%;

        &-quotes {
            position: absolute;
            top: -15px;
            left: -35px;
            width: 30px;
            height: auto;
            display: inline-block;
            img {
                width: 100%;
                height: auto;
            }

            &--rev {
                transform: rotateY(180deg);
                bottom: -30px;
                right: -35px;
                top: inherit;
                left: inherit;
            }
        }

        h2 {
            font-size: 28px;
            font-weight: 600;
            color: #014565;
            margin-bottom: 20px;    
            
            &.quote-top {
                position: relative;
                display: inline-block;
            }
        }
        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #4B4947;
            &.quote-bottom {
                position: relative;
                display: inline-block;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #014565;
            margin-bottom: 10px;
        }
    }
}

@include mobile-tablet {
    .mt-ceo_p {
        &__para {
            padding: 30px 50px;
        }
    }
    
}


@include mobile {
    .mt-ceo_p {
        &__para {
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
 
            }
            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        
    }
    
}