.related-policies-tile {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px 15px 20px 20px;
  border: 1px solid var(--clr-blue2);
  border-radius: 5px;
  cursor: pointer;
  &__tittle {
    height: 50px;
    h1 {
      font-size: 15px;
      font-weight: 500;
      color: var(--clr-blue);
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    a {
      color: var(--clr-white);
      background-color: var(--clr-blue2);
      padding: 8px 29px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 11px;
    }
    svg {
      width: 35px;
    }
  }
  &:hover {
    background-color: var(--clr-blue2);
    h1 {
      color: var(--clr-white);
    }
    a {
      background-color: var(--clr-white);
      color: var(--clr-blue2);
    }
    svg {
      path {
        fill: var(--clr-white);
      }
    }
  }
}

@include mobile {
  .related-policies-tile {
    width: calc(100% - 20px);
  }
}

@include tablet {
  .related-policies-tile {
    width: calc(50% - 20px);
  }
}

@include tablet-pro {
  .related-policies-tile {
    width: calc(33.3333% - 20px);
  }
}
