.mtr-l5-Year__table-set{
    overflow-y: visible;
    max-height: 100%;
}
.mtr-l5-Year__print{
    display: none;
}
.tabs-sub{
    display: none;
}
body * {
    visibility: hidden;
  }
  
  #table-container, #table-container * {
    visibility: visible;
  }
  
  #table-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
  }

  .avoid-page-break {
    page-break-inside: avoid;
  }